<div class="login-welcome">
    <div class="post-manager">
        <h2>What would you like to do?</h2>
<form method="POST" action="/changePassword">
    <label for="currentPassword">current password</label>
    <input name="currentPassword" type="password" required />
    <label for="newPassword1">new password</label>
    <input name="newPassword1" type="password" required />
    <label for="newPassword2"> confirm password</label>
    <input name="newPassword2" type="password" required />   
    <input type="submit" />
</form>
    </div>
</div>