<section id="welcome-section">
    <h1>.daley<span class="version flashingLight">v4</span><span class="flashingLight title-under">Web.Developer</span></h1>
</section>
<div id="projWindow">
    <h1>{{navLink}}</h1>
    <section id="projects">
        {{#each entries}}        
            <div class="project-tile">
                <a href="" target="_blank">
                    <img alt="Project Thumbnail" src="{{this.image}}"/>
                    <p>{{this.title}}</p>
                </a>  
            </div>        
        {{/each}}       
    </section>
    <div class="seeMore">
        <ul>
            <li id="seeMore" class="flashingLight"><a href="/blog">See more</a></li>
        </ul>
    </div>
</div>
<section id="contact">
    <header>Let's build something..</header>
    <div class="contact-links">                
        <a href="https://github.com/dannydaley" target="_blank" id="profile-link" class="contact-link">
            <i class="fab fa-github">
                <FontAwesomeIcon icon={['fab', 'github']} />                        
            </i> GitHub                        
        </a>                
        <a href="https://www.freecodecamp.org/dannydaley" target="_blank" class="contact-link">
            <i class="fab fa-free-code-camp">
                <FontAwesomeIcon icon={['fab', 'free-code-camp']} />
            </i> freeCodeCamp
        </a>
        <a href="https://codepen.io/dannydaley" target="_blank" class="contact-link">
            <i class="fab fa-codepen">
                <FontAwesomeIcon icon={['fab', 'codepen']} />
            </i> CodePen
        </a>
    </div>
    <div  id="email_link">
        <a href="#">
            <i class="far fa-envelope emailicon">
                <FontAwesomeIcon icon={['far', 'envelope']}/>
            </i>dannydaley@outlook.com
        </a>
    </div>
    <div className="sandbox">                
        <img alt="HTML5 Logo" class="html" src="images/html5.png" height="100px" width="80px" />
        <img alt="CSS3 Logo" class="css" src="images/css3.png" height="100px" width="80px" />
        <img alt="JavaScript Logo"class="js play" src="images/jslogo.png" height="100px" width="80px" />
    </div>
</section>

<script>
    window.onload = function(){
        let socket = new WebSocket("ws://localhost:8080");
        socket.onopen = function(evt) {
            console.log("client happened!");
            socket.send("hi server!");
        };
        socket.onmessage = function(evt) {
            console.log(evt);
        };
    }
    let socket = new WebSocket("ws://localhost:8080");
    socket.onopen = function(evt) {
        console.log("client happened!");
        socket.send("hi server!");
    };
    socket.onmessage = function(evt) {
        console.log(evt);
    };
</script>