<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/a7b4d738fb.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav id="navbar">
        <ul>
          <li><a href="#welcome-section">home</a></li>
          <li><a href="#projects">work</a></li>
          <li><a href="#contact">contact</a></li>
          <li><a href="">blog</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
    <footer>
      &copy;danny daley
    </footer>
  </body>
</html>
