<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/a7b4d738fb.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <script>
      </script>
      <nav id="navbar">
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/blog">work</a></li>
          <li><a href="/blogXml">work(XML)</a></li>
          <li><a href="http://localhost:3000/#contact">contact</a></li>
          <li><a href="/login">log in</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
    <footer>
      &copy;danny daley
    </footer>
  </body>
</html>