<div class="login-welcome">
    <h1>{{name}} YOU ARE LOGGED IN</h1>
    <div class="post-manager">
        <h2>What would you like to do?</h2>
        <ul>
            <a href="/newPost"><li class="UI-option">create new post</li></a>
            <a href="/manageBlog"><li class="UI-option">manage posts</li></a>    
            <a href="/logOut"><li class="UI-option" >log out</li></a>
        </ul>
    </div>
</div>