<div class="login-welcome">
    <h1>{{name}}, YOU ARE LOGGED IN</h1>
    <div class="post-manager">
        <h2>What would you like to do?</h2>
        <ul>
            <li><a href="/newPost"><div class="UI-option">create new post</div></a></li>
            <li><a href="/manageBlog"><div class="UI-option">manage posts</div></a></li>    
            <li><a href="/logOut"><div class="UI-option">log out</div></a></li>
        </ul>
    </div>
</div>