<div class="login-card">
    <h1>login</h1>
    <form>
        <div class="username-container">
        <label class="login-label" name="username" for="username">username</label>
        <input class="login-field" type="text" name="username" placeholder=" My Username">
        </div>
        <div class="password-container">
        <label class="login-label" name="password" for="password">password </label>
        <input class="login-field" type="password" name="password" required>
        </div>
        <button class="login-button">log in</button>
    </form>
</div>