<div class="login-welcome">
    <h1>{{name}}'s profile</h1>
        <div class="profile-container">
            <div class="profile-picture">
                <img class="dashboard-profile-image" src="images/uploads/Danny-change-image-1639062388853-160594717.png" width="100px" height="100px">
                <form class="update-profile-picture" enctype="multipart/form-data">
                    <label for="update-profile-picture">change profile picture</label>
                    <input type="file" name="update-profile-picture" />
                </form>
            </div>
            <div class="profile-info">
                <h2>{{name}}</h2>
                <form>
                    <label for="about-me">about me</label>
                    <textarea name="about-me" id="" cols="50" rows="5">This is my about me text</textarea>
                </form>
                <h3>post count: </h3>
                <h3>date joined: 15/09/2021</h3>
            </div>
        </div>
    </div>
</div>