<div class="new-post-form">
    <form method="POST" action="/newBlogPost">
        <label for="author">author: </label>
        <input type="text" name="author">
        <label for="title">title: </label>
        <input type="text" name="title">
        <label for="title">image: </label>
        <input type="text" name="image">
        <input type="text" name="link">
        <input type="number" name="id">
        <input type="date" name="date">
        <div class="content-field">
            <label for="content">content:  </label>
            <textarea type="text" name="content" rows="10" cols="70"></textarea>
        </div>
        <button type="submit">POST</button>
    </form>
</div>