<form method="POST">
    <label for="author" name="author">author</label>
    <input type="text" name="author">
    <label for="title" name="title">title: </label>
    <input type="text" name="title">
    <label for="content" name="content">content: </label>
    <input type="text" name="content">
    <button>POST</button>
</form>